body {
    font-family: Arial, serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
}


#body-wrapper {
    backdrop-filter: blur(10px);
    background: radial-gradient(circle, rgba(239, 233, 233, 0.22) 0%, rgba(252, 70, 107, 0) 100%);
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#upload {
    display: none;
}

#upload-label {
    margin-top: 4px;
    border: 1px solid #8d8d8d;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: #8d8d8d;
}

#menu + div {
    margin-left: 80px;
    margin-top: 20px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 700px;
    width: 100%;
    margin: 10% auto;
}

.flex-item {
    border: 1px solid #8d8d8d;
    height: 150px;
    width: 200px;
    margin-top: 5%;
    text-align: center;
    line-height: 150px;
    color: #c9c9c9;
    text-transform: uppercase;
    border-radius: 4px;
    background: rgba(17, 7, 7, 0.38);
    transition: all .4s;
    cursor: pointer;
}

.night {
    color: #8d8d8d;
    background: rgba(14, 14, 14, 0.77);

}

.flex-item:hover {
    transform: scale(1.05);
}

.flex-item img {
    width: 100%;
    height: 100%;
}

#audio {
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 95%;
}

#menu-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
}

.container {
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    left: 20px;
    top: 20px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #8d8d8d;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#fps_counter-wrapper {
    position: absolute;
    right: 10px;
    top: 24px;
    color: #8d8d8d;
    background-color: transparent !important;
}