# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\OneDrive\OneDrive - Hochschule Furtwangen\Studium\Semester 6\EchtzeitComputergrafik\EchtzeitComputergrafik\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
